*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    scroll-behavior: smooth;
    line-height: 1.15;
    /* Prevent adjustments of font size after orientation changes in iOS.*/
	-webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #669999;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #476b6b;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #141f1f;
}
body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    color: #000;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    cursor: pointer;
    color : #000;
}
.top-bar,.notification-bar{
    height: 50px;
    min-height: 50px;
    background-color: #1DA1F2;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    top: 0;
    left: 0;
}
@media (max-width : 480px){
    .top-bar{
        width: 100%;
        max-width: 100vw;
    }
}
.top-bar .top-bar-inner{
    width: 30%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: relative;
}
@media (max-width : 480px){
    .top-bar .top-bar-inner{
        width: 50%;
        margin: 0;
    }
}
.top-bar-inner h3{
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 500;
}
.top-bar-inner button{
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.top-bar-inner button:hover{
    background-color: #d9d9d9;
}
.top-bar-inner .btn-signup{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar-inner .top-bar-inner-user{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.notification-bar{
    height: 30px;
    min-height: 30px;
    background-color: #d9d9d9;
    color: #000;
    font-size: 0.7rem;
}
.notification-bar .text-notification{
    width: 100%;
    text-align: center;
}
.notification-bar .close-notification{
    font-size: 1.5rem;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container .c-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}
.container .c-row-1{
    margin-bottom: 2rem;
}
.c-row::-webkit-scrollbar {
    height: 5px;
}
  /* Track */
.c-row::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 20px;
}
  /* Handle */
.c-row::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

  /* Handle on hover */
.c-row::-webkit-scrollbar-thumb:hover {
    background: #141f1f;
}
.container .c-row .item-card{
    min-width: 300px;
    max-width: 300px;
    height: 250px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #d9d9d9;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.item-card .card-title{
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.item-card .card-desc{
    height: 50px;
    display: none;
}
.item-card .card-section{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-section .card-amts{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-amts .card-amt{
    width: 120px;
    height: 30px;
    font-size: 0.7rem;
    background-color: #1DA1F2;
    color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-section .card-keys{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-keys .card-key{
    font-size: .7rem;
    height: 20px;
    padding: 0 .5rem;
    background-color: #c6c6c6;
    border-radius: 10px;
}
.item-card .card-btn{
    width: 268px;
    max-width: 300px;
    height: 30px;
    background-color: #c6c6c6;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item-card .card-btn:hover{
    background-color: #1DA1F2;
    color: #fff;
}
.popup-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.popup-container .popup-box{
    width: 280px;
    height: 250px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.popup-box .inp-uname,.inp-sel{
    width: 100%;
    height: 30px;
    padding: 1rem;
    border: 2px solid #666;
    color: #666;
    border-radius: 5px;
}
.popup-box .inp-btn{
    width: 100%;
    height: 30px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1DA1F2;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
